
# services:
#   sqlserver:
#     image: mcr.microsoft.com/mssql/server:2022-latest
#     container_name: fcg-sqlserver
#     environment:
#       - ACCEPT_EULA=Y
#       - MSSQL_SA_PASSWORD=YourPassword123
#     ports:
#       - "1434:1433"
#     volumes:
#       - sqlserver-data:/var/opt/mssql
#     healthcheck:
#       test: ["CMD-SHELL", "/opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P $${MSSQL_SA_PASSWORD} -C -Q \"SELECT 1\""]
#       interval: 10s
#       timeout: 5s
#       retries: 10

#   zookeeper:
#     image: confluentinc/cp-zookeeper:7.5.0
#     container_name: fcg-zookeeper
#     environment:
#       ZOOKEEPER_CLIENT_PORT: 2181
#       ZOOKEEPER_TICK_TIME: 2000
#     ports:
#       - "2181:2181"
#     volumes:
#       - zookeeper-data:/var/lib/zookeeper/data
#       - zookeeper-logs:/var/lib/zookeeper/log

#   kafka:
#     image: confluentinc/cp-kafka:7.5.0
#     container_name: fcg-kafka
#     depends_on:
#       - zookeeper
#     ports:
#       - "9092:9092"    
#       - "29092:29092"   
#     environment:
#       KAFKA_BROKER_ID: 1
#       KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

#       KAFKA_LISTENERS: INTERNAL://0.0.0.0:29092,EXTERNAL://0.0.0.0:9092
#       KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:29092,EXTERNAL://localhost:9092
#       KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
#       KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL

#       KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
#       KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
#     volumes:
#       - kafka-data:/var/lib/kafka/data
#     healthcheck:
#       test: ["CMD-SHELL", "kafka-broker-api-versions --bootstrap-server kafka:29092 || exit 1"]
#       interval: 10s
#       timeout: 5s
#       retries: 5
#       start_period: 30s

#   kafka-ui:
#     image: provectuslabs/kafka-ui:latest
#     container_name: fcg-kafka-ui
#     depends_on:
#       - kafka
#       - zookeeper
#     ports:
#       - "8081:8080"
#     environment:
#       KAFKA_CLUSTERS_0_NAME: fcg-cluster
#       KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092
#       KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181
#       DYNAMIC_CONFIG_ENABLED: "true"
#     restart: unless-stopped

#     redis:
#       image: redis:7-alpine
#       container_name: fcg-redis
#     ports:
#       - "6379:6379"
#     volumes:
#       - redis-data:/data
#     command: redis-server --appendonly yes
#     restart: unless-stopped

#   redis-insight:
#     image: redis/redisinsight:latest
#     container_name: fcg-redis-insight
#     ports:
#       - "5540:5540"
#     volumes:
#       - redis-insight-data:/data
#     restart: unless-stopped
#     depends_on:
#       - redis

#   webapi:
#     build:
#       context: .
#       dockerfile: src/FCG.Catalog.WebApi/Dockerfile
#     depends_on:
#       sqlserver:
#         condition: service_healthy
#       kafka:
#         condition: service_healthy
#       redis:
#         condition: service_started
#     environment:
#       - ConnectionStrings__DefaultConnection=Server=sqlserver,1433;Database=fcg_catalog;User Id=sa;Password=YourPassword123;TrustServerCertificate=True;
#       - Kafka__BootstrapServers=kafka:29092
#       - ConnectionStrings__Redis=redis:6379 
#     ports:
#       - "5000:80"
#     restart: on-failure

# volumes:
#   sqlserver-data:
#   kafka-data:
#   zookeeper-data:
#   zookeeper-logs:
#   redis-data:
#   redis-insight-data:

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: fcg-sqlserver
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=YourPassword123
    ports:
      - "1433:1433"
    volumes:
      - sqlserver-data:/var/opt/mssql
    healthcheck:
      test: ["CMD-SHELL", "/opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P $${MSSQL_SA_PASSWORD} -C -Q \"SELECT 1\""]
      interval: 10s
      timeout: 5s
      retries: 10

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: fcg-zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    volumes:
      - zookeeper-data:/var/lib/zookeeper/data
      - zookeeper-logs:/var/lib/zookeeper/log

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: fcg-kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"    
      - "29092:29092"   
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: INTERNAL://0.0.0.0:29092,EXTERNAL://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:29092,EXTERNAL://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    volumes:
      - kafka-data:/var/lib/kafka/data
    healthcheck:
      test: ["CMD-SHELL", "kafka-broker-api-versions --bootstrap-server kafka:29092 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: fcg-kafka-ui
    depends_on:
      - kafka
      - zookeeper
    ports:
      - "8081:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: fcg-cluster
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092
      KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181
      DYNAMIC_CONFIG_ENABLED: "true"
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: fcg-redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: redis-server --requirepass CatalogApi --appendonly yes
    restart: unless-stopped

  redis-insight:
    image: redis/redisinsight:latest
    container_name: fcg-redis-insight
    ports:
      - "5540:5540"
    volumes:
      - redis-insight-data:/data
    restart: unless-stopped
    depends_on:
      - redis

  webapi:
    build:
      context: .
      dockerfile: src/FCG.Catalog.WebApi/Dockerfile
    depends_on:
      sqlserver:
        condition: service_healthy
      kafka:
        condition: service_healthy
      redis:
        condition: service_started
    environment:
      - ConnectionStrings__DefaultConnection=Server=sqlserver,1433;Database=fcg_catalog;User Id=sa;Password=YourPassword123;TrustServerCertificate=True;
      - Kafka__BootstrapServers=kafka:29092
      - ConnectionStrings__Redis=redis:6379
    ports:
      - "5000:80"
    restart: on-failure

volumes:
  sqlserver-data:
  kafka-data:
  zookeeper-data:
  zookeeper-logs:
  redis-data:
  redis-insight-data: