<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="GitHub-FCG" value="https://nuget.pkg.github.com/group10-tc-01/index.json" />
  </packageSources>

  <packageSourceMapping>
    <!-- Pacotes padrão do NuGet.org -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>

    <!-- Pacotes privados do GitHub -->
    <packageSource key="GitHub-FCG">
      <package pattern="FCG.*" />
    </packageSource>
  </packageSourceMapping>

  <apikeys>
    <add key="https://nuget.pkg.github.com/group10-tc-01/index.json" value="[YOUR_GITHUB_TOKEN]" />
  </apikeys>
</configuration>